# MongoDB Connection URL (Ganti dengan connection string MongoDB Atlas Anda)
# Format: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/<database_name>?retryWrites=true&w=majority
DATABASE_URL="mongodb+srv://username:password@cluster0.mongodb.net/kawankampus?retryWrites=true&w=majority"

# JWT Secret untuk Autentikasi Pengguna
JWT_SECRET="kawan-kampus-super-secret-jwt-key-2025"
